services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_URL: http://localhost:8000/api
    container_name: innoquim_frontend
    ports:
      - "80:8080"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - innoquim_network
    healthcheck:
      # Ajustar puerto aquí también
      test: ["CMD", "curl", "-f", "http://localhost:8080/"]
      interval: 30s
      timeout: 3s
      retries: 3
    restart: unless-stopped

networks:
  innoquim_network:
    external: true
    name: innoquim-network